.googleButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #4285f4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  gap: 15px;
}

.googleButton:hover {
  background-color: #357ae8;
}
