.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.card {
  background-color: white;
  padding: 48px;
  border: 1px #bacdd8 solid;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
}
